# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JoHoProject\wechat-isv-spring-boot-starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
